""
# Ignorar todos los archivos .log
*.log

# Ignorar directorios específicos
node_modules/
bin/
obj/
out/

# Ignorar archivos de configuración específicos
*.config
secrets.xml

# Ignorar archivos en un subdirectorio específico (usar la ruta relativa)
subdir/file_to_ignore.txt

# Ignorar un archivo específico
debug.log
 

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
